doctype html
html
  head
    title LOGIN un USER
  body.container
    form(method='POST')
      input(type='name', name='name', placeholder='name')
      input(type='pass', name='pass', placeholder='pass')
      button(type='submit') Valider