doctype html
html
  head
    title Ajouter un TODO
  body.container
    form(method='POST', action='/todos/edit')
      input(type='user', name='user', placeholder='user', value=''+todo.user)
      input(type='message', name='message', placeholder='message', value=''+todo.message)
      input(type='hidden', name='id', value=''+todo.id)
      button(type='submit') Valider